<div class="container" id="seasons">
	<% if @is_current %>
		<h2 class="main_heading">Current season</h2>
	<% else %>
		<h2 class="main_heading"><%= @season.full_name %> season</h2>
	<% end %>
	<% if @season.gigs.any? %>

	<% if @is_current %>
		<div class="col-12 mobile_hide">
			<ul style="padding: 0; font-size: 0.9em; margin-bottom: 30px;">
				<% @season.gigs.each do |gig| %>
					<% if gig.ends.strftime("%e") != gig.starts.strftime("%e") %>
						<% starts = gig.starts.strftime("%B %e") %> - <%= gig.ends.strftime("%B %e") %>
					<% else %>
						<% starts = gig.starts.strftime("%B %e") %>
					<% end %>
					<li><%= "#{gig.act}: #{starts}" %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

		<div class="row">
			<% @season.gigs.each do |gig| %>
				<% if gig.parents.nil? %>
					<% link = gig.is_festival? ? gig.website : gig_path(gig) %>
					<div class="col-12 col-lg-3 col-md-4 gig">
						<h5>
							<% if gig.ends.strftime("%e") != gig.starts.strftime("%e") %>
								<%= gig.starts.strftime("%A %B %e") %> - <br /><%= gig.ends.strftime("%A %B %e, %Y") %>
							<% else %>
								<%= gig.starts.strftime("%A %B %e, %Y") %>
							<% end %>
						</h5>
						<%= link_to image_tag(gig.image.url(:small)), link, target: gig.is_festival? ? '_blank' : '_self' %>
						<% if gig.children %>
							<h2><%= link_to "Double Bill", link, target: '_blank' %></h2>
							<h3 class="double_bill"><%= link_to "#{gig.act} & #{gig.children.act}", link, target: '_blank' %></h3>
						<% else %>
							<h2><%= link_to gig.act, link, target: gig.is_festival? ? '_blank' : '_self' %></h2>
						<% end %>
						<%= simple_format gig.description.truncate_words(45) %>
						<div class='buttons'>
							<a href="<%= link %>" class='btn btn-primary btn-block' target='<%= gig.is_festival? ? '_blank' : '_self' %>'>More details ></a>
							<% if gig.is_bookable? %>
								<a href='<%= gig.booking_url %>' class='btn btn-success btn-block' target="_blank">Book now</a>
							<% elsif gig.gallery_url.present? %>
								<a href='<%= gig.gallery_url %>' class='btn btn-success btn-block' target="_blank">See photo gallery *</a>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
		<small>* Photos by Melody MacLaren and available here with their kind permission.</small>
	<% end %>
</div>