<div class="container" id="history">
	<h2 class="main_heading">The Herts Jazz story</h2>

	<p>It all started...  ...back in the late sixties when the landlord of The Bell in Codicote - a small village in Hertfordshire - decided to start regular jazz sessions in the pub...</p>

	<p>...Not long afterwards the distinguished tenor saxophonist Jimmy Skidmore moved to Codicote and got involved in the jazz there and formed a regular band. Jimmy was a household name in the jazz world as he had played in the world famous Humphrey Lyttelton Band and was able to attract many famous players to play with him at The Bell. Great luck for the jazz fans of Hertfordshire! Jim's Quartet included pianist Ian Pearce and Peter Blannin, double bass, both of whom played at our venues ever since.</p>

	<%= image_tag "history/stan-tracey.png", alt: "Stan Tracey" %>
	<figcaption class="figure-caption"><a target="_blank" href="http://www.stantracey.com/">Stan Tracey</a></figcaption>

	<p>As Jazz At The Bell gradually became more popular, the landlord, the late Tom Young, handed over the organisation of jazz presentations to Brian Benton a local musician and jazz fan.</p>

	<p>I discovered The Bell and volunteered to be Brian's assistant and we later put together a small committee and called ourselves "Herts Jazz". The Club opened every Sunday evening.</p>


	<p>We introduced Club membership, door admission, ticket sales, a newsletter, live recordings and our aim was to encourage a discerning and listening audience.</p>

	<%= image_tag "history/art-themen.jpg", alt: "Art Themen" %>
	<figcaption class="figure-caption"><a target="_blank" href="https://en.wikipedia.org/wiki/Art_Themen">Art Themen</a></figcaption>

	<p>The Bell soon acquired the reputation as a major out-of-town jazz venue with all the top modern jazz players queuing up to play there. The music and the atmosphere in the room was often electric! It could never be captured by recording it. You had to be there. Just imagine it - dozens of appreciative jazz nuts all squashed together in a small room to experience the best music available anywhere in the world that night (we thought!) for a very affordable price. We had won the jackpot !! I would drive home in an ecstatic mood which would keep me going for a week.</p>

	<p>We booked not only the greats of British modern jazz –Tubby Hayes, Ronnie Scott, Peter King, Dick Morrissey. Stan Tracey, Tony Coe, Jimmy Skidmore, Alan Skidmore, Bill le Sage, Stan Robinson, Roy Budd and many many more – but also many visiting American artists.</p>

	<%= image_tag "history/tubby-hayes.jpg", alt: "Tubby Hayes" %>
	<figcaption class="figure-caption"><a target="_blank" href="http://en.wikipedia.org/wiki/Tubby_Hayes">Tubby Hayes</a></figcaption>

	<p>So, this tiny club in North Hertfordshire played host to such world famous names as : Sonny Stitt, Al Cohn, James Moody, Mark Murphy, Eddie “ Lockjaw “ Davis, Jimmy Witherspoon, Art Farmer, Joe Locke, Tal Farlow, Herb Geller, Bill Perkins, Charles McPherson, Clifford Jarvis, Jean Toussaint, Benny Golson and many many others. It was truly amazing. They all provided us with unforgettable evenings of great jazz - at close range. Nothing can ever equate with the thrill we felt in being involved in the organisation of this. I still have photographs of it all round my office.</p>

	<p>The third part of our mission statement was to promote the amazing emerging young British jazz musicians a lot of whom had emerged from the National Youth Jazz Orchestra, Loose Tubes etc. We were the among the very first to showcase such players as :Clark Tracey, Guy Barker, Mark Nightingale, Tommy Smith, Gerard Presencer, Alan Barnes, David Newton, Wayne Batchelor, Django Bates, Chris Hunter, Dave O’Higgins, Cleveland Watkiss, the Arguelles Brothers etc etc etc.</p>

	<%= image_tag "history/alan-barnes.jpg", alt: "Alan Barnes" %>
	<figcaption class="figure-caption"><a target="_blank" href="http://www.alanbarnesjazz.com/">Alan Barnes</a></figcaption>

	<p>We went from strength to strength and had a large membership. Our membership expanded due to our policy of booking a wide range of big bands, small groups, trios and singers. Brian also booked bands like Paz, Blind Alley, Cayenne etc that appealed to some of our regulars but also to a large set of younger members we had acquired due to this policy.</p>

	<p>We also started up other Jazz clubs in Hertfordshire - all under the banner of Herts Jazz – principally Watford and Hertford. Many of our regular members were musicians and several ran youth bands or projects to introduce jazz into the community.</p>

	<%= image_tag "history/pete-king.jpg", alt: "Pete King" %>
	<figcaption class="figure-caption"><a target="_blank" href="http://peterkingjazz.com/">Pete King</a></figcaption>

	<p>Brian worked hard to book the best players and set standards. We started on time, he did the announcements, the interval and the end of the evening were strictly adhered to. We aimed to present jazz in a club atmosphere.</p>

	<p>They say all good things come to an end and we were very sad when, in the mid 80's, we had to move from the legendary Bell - when they turned it into a motel.</p>

	<p>We moved to The Fountain in Welwyn Garden City for a few years but in 1991 were invited to hold our weekly Sunday sessions at the Panshanger Golf Complex, just outside WGC. The venue was much smarter with air conditioning and was more spacious (although some of us secretly preferred the atmosphere at The Bell).</p>

	<%= image_tag "history/arnie-somogyi.jpg", alt: "Arnie Somogyi" %>
	<figcaption class="figure-caption"><a target="_blank" href="https://en-gb.facebook.com/arnie.somogyi">Arnie Somogyi</a></figcaption>

	<p>I took over the booking of the musicians at Panshanger and Watford for a few years and we always aimed to present known names mixed with visiting overseas stars and new British talent. The long-standing Committee of John Newton. John & Russell Williams, Alan Dobbins, Will Vine and Peter Hogarth supported Brian 100% right up to his sad death in 2008.</p>


	<p> Clark Tracey took up the reins in 2009 and the club moved to Campus West in Welwyn Garden City in 2010 where it had eight successful years in which membership and attendances grew significantly. At the same venue, the Club initiated the Herts Jazz Festival in 2011 - the most prestigious arts event in the county. In 2018 the club moved to The Maltings in St Albans and the 8th Festival will be held in Letchworth Garden City.</p>

	<p><em>Extract from an article by Tony May first published in Feb 2010</em></p>

</div>