<div class="container" id="home">
  <div class="container marketing">
    <% if @next_gig %>
    <!-- Three columns of text below the carousel -->
    <h2 class="featurette-heading">Next <span class="text-muted">up at Herts Jazz</span>...</h2>
      <div class="row">
        <% link = @next_gig.is_festival? ? @next_gig.website : gig_path(@next_gig) %>
        <div class="col-12 col-lg-6 col-md-6">
          <% if @next_gig.image? %>
            <%= link_to image_tag(@next_gig.image.url(:large), width: '100%'), link, target: @next_gig.is_festival? ? '_blank' : '_self' %>
          <% end %>
        </div>
        <div class="col-12 col-lg-6 col-md-6 item">
          <% if @next_gig.children %>
            <h3><%= link_to "Double Bill", link, target: '_blank' %></h3>
            <h4 class="double_bill"><%= link_to "#{@next_gig.act} & #{@next_gig.children.act}", link, target: '_blank' %></h4>
          <% else %>
            <h3><%= link_to @next_gig.act, link, target: @next_gig.is_festival? ? '_blank' : '_self' %></h3>
          <% end %>
          <%= simple_format @next_gig.description.truncate_words(80) %>
          <div class="row">
            <div class="col-12 col-sm-6">
              <a class="btn btn-primary btn-block" href="<%= link %>" role="button">View details &raquo;</a>
            </div>
            <div class="col-12 col-sm-6">
            <% if @next_gig.is_bookable? %>
                <a href='<%= @next_gig.booking_url %>' class='btn btn-success btn-block' target="_blank">Book now</a>
            <% end %>
            </div>
          </div>
        </div><!-- /.col-lg-3 -->
      </div><!-- /.row -->
    <% end %>

  <hr class="featurette-divider mobile_hide">

  <div class="row featurette">
    <div class="col-12 col-md-7">
      <h2 class="featurette-heading"><%= @content.heading.html_safe %></h2>
			<p class="lead my-3"><%= @content.intro.html_safe %></p>
      <%= image_tag(@content.image.url(:large), class: "mobile_show", alt: "Herts Jazz") if @content.image.present? %>
      <%= simple_format @content.body.html_safe %>
    </div>
    <div class="col-12 col-md-5 mobile_hide">
      <%= image_tag(@content.image.url(:large), class: "featurette-image img-fluid mx-auto", alt: "Herts Jazz") if @content.image.present? %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="container marketing">
    <% if @upcoming_gigs.any? %>
    <!-- Three columns of text below the carousel -->
    <h2 class="featurette-heading">Upcoming <span class="text-muted">gigs</span></h2>
    <div class="row">
      <% @upcoming_gigs.each do |gig| %>
        <% link = gig.is_festival? ? gig.website : gig_path(gig) %>
        <div class="col-12 col-lg-3 col-md-6 item">
          <% if gig.ends && gig.ends.strftime("%e") != gig.starts.strftime("%e") %>
            <%= gig.starts.strftime("%A %B %e") %> - <br /><%= gig.ends.strftime("%A %B %e, %Y") %>
          <% else %>
            <%= gig.starts.strftime("%A %B %e, %Y") %>
          <% end %>
          <% if gig.image? %>
            <%= link_to image_tag(gig.image.url(device_image_size)), link, target: gig.is_festival? ? '_blank' : '_self' %>
          <% end %>
          <% if gig.children %>
            <h3><%= link_to "Double Bill", link, target: '_blank' %></h3>
            <h4 class="double_bill"><%= link_to "#{gig.act} & #{gig.children.act}", link, target: '_blank' %></h4>
          <% else %>
            <h3><%= link_to gig.act, link, target: gig.is_festival? ? '_blank' : '_self' %></h3>
          <% end %>
          <%= simple_format gig.description.truncate_words(35) %>
          <p class="buttons"><a class="btn btn-secondary" href="<%= link %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
      <% end %>
      <div class="col-12 col-lg-3 col-md-6">
        <a class="twitter-timeline" href="https://twitter.com/HertsJazz" data-widget-id="413381579457585153">Tweets by @HertsJazz</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div><!-- /.row -->
    <% end %>

</div><!-- /.container -->